
.allpage{
    padding-top: 0.5rem;
    background-image: linear-gradient(to right,#E3B198, #FBD7CE, #fff, );
}

.container{
   
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;
    padding-bottom: 5rem;
    border-radius: 5px;
    
}

.post{
    max-width: 720px;
    margin: 5rem auto 0;

img{
    height: 550px;
                width: 350px;
                display: block;
                margin: 0 auto;
    
    border: 2px solid var(--white-);
    border-radius: 5px;
    border-image: linear-gradiente(95deg, #FBD7CE, transparent) 1;
    
    
}

h1{padding-top: 2rem;
    font-size: 2rem;
    font-weight: 900;
    color: var(--gray-200);
    text-align: center;
    
}
time{
    text-align: center;
    color: var(--gray-100);
    margin-top: 1.5rem;
    font-size: 1rem;
    display: block;
}

}
.postContent{
    margin-top: 2rem;
    line-height: 2rem;
    font-size: 1.125rem;
    color: var(--gray-200);

    iframe{
        width: 100%;
        min-height: 350px;
        padding:  0.5rem 0;
    }
    p,ul{
        margin: 1.5rem 0;
    }
    ul{
        padding-left:1.5rem ;
        
        li{
             margin: 1.5rem 0;}
    }
    a:hover{
        color: var(--green-);
    }
    
    pre{
        border-radius: 0.5rem;
        background-color: var(--green-);
        padding: 0.5rem;
        color: var(--gray-200);
    }
}

