
.allpage{
    padding-top: 0.5rem;
  background-color: white;
}
.ebooks{  display: block; /* Garante que a imagem se comporte como um bloco */
    margin: 0 auto; 
    margin-top: 2rem;
    margin-bottom: -3rem;
  }

.container{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;
    padding-bottom: 5rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    
}
   
    


.post{
    max-width: 720px;
    margin: 5rem;
    margin-bottom: -4rem;

img{
             height: 550px;
                width: 350px;
                display: block;
                margin: 0 auto;
    
    border: 2px solid var(--white-);
    border-radius: 5px;
    border-image: linear-gradiente(95deg, #FBD7CE, transparent) 1;
    
    
}

h1{padding-top: 2rem;
    font-size: 2rem;
    font-weight: 900;
    color:#ee63ba;
    text-align: center;
    margin-bottom: -1rem;
    
}
time{
    text-align: center;
    color: var(--gray-100);
    margin-top: 1.5rem;
    font-size: 1rem;
    display: block;
}
.readyButton{
    margin-left: auto;
    height: 3rem;
    border-radius: 3rem;
    background: var(--gray-);
    border: 0;
    padding: 0 1.5rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-);
    font-weight: bold;
    transition:filter 0.2s;
    max-width: 250px; /* Defina uma largura máxima para o botão */
    margin-left: auto;
    margin-right: auto; /* Centralize o botão horizontalmente */
margin-bottom: -4rem;
    &:hover{
        filter: brightness(1.1);
        
    }
}

}
.postContent{text-align: justify;
    margin-top: 5rem;
    margin-bottom: -6rem;

    color: var(--gray-);
    font-size: 1.2rem;
    line-height:2.25rem ;

    iframe{
        width: 100%;
        min-height: 350px;
        padding:  0.5rem 0;
    }
    p,ul{ text-align: justify;
        margin: 1.5rem 0;
       
        
    }
    ul{
        padding-left:1.5rem ;
        
        li{
             margin: 1.5rem 0;}
    }
    a:hover{
        color: var(--green-);
    }
    
    pre{
        border-radius: 0.5rem;
        background-color: var(--green-);
        padding: 0.5rem;
        color: var(--gray-200);
    }

}
.voltar{  width: 98.5vw;
    background-color: #ee63ba;
   border-radius: 4px;
   margin-top: 4rem;
   padding: 0.5rem;
 box-sizing: border-box; 
   
   display: flex;
   justify-content: flex-end;
   
   margin-bottom: 4rem;
    a{  align-items: center;
        background-color: #ee63ba;
        color: white;
        text-align: center;
        border: 0;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s;
        display: flex;
       cursor: pointer;
        border-radius: 4px;
        box-sizing: border-box;
    }

    a:hover{
        color: var(--white-)
    }

}




@media (max-width: 950px) {


.ebooks{  width: 290px;
    height: 161px;
    margin-top: 2.7rem;
   
  }
}
   
