@import url('https://fonts.googleapis.com/css2?family=Allura&family=Catamaran:wght@300&family=DM+Serif+Display&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Allura&family=Catamaran:wght@300&family=DM+Serif+Display&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:wght@400;700&family=Ubuntu:ital@1&display=swap');



.containerPost {
    background-image: linear-gradient(to right,#E3B198, #FBD7CE, #fff, );
}

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;

}

.posts {
    max-width: 720px;
    margin: auto;
    padding-top: 5rem;


    a {
        display: block;

        &+a {
            margin-top: 2rem;
            padding-top: 2rem;
        }

        time {
            font-size: 1rem;
            display: flex;
            align-items: center;
            color: var(--gray-);
        }

        .imgbook{ 
            img {
                height: 550px;
                width: 350px;
                display: block;
                margin: 0 auto;
            border: 2px solid var(--white-);
            border-radius: 6px;
            border-image: linear-gradiente(95deg, #FBD7CE, transparent) 1;
        }

        }
            .textbook{  
               text-align: center;
                strong {
                    text-align: center;
            font-family: 'Allura', cursive;
            font-family: 'Catamaran', sans-serif;
            font-family: 'DM Serif Display', serif;
            font-family: 'Open Sans', sans-serif;
            font-family: 'Roboto', sans-serif;
            display: block;
            font-size: 1.5rem;
            margin: 1rem 0;
            line-height: 2rem;
            color: var(--gray-);
            transition: color 0.3s;
        }
      
        time{display: block;
            margin: auto;
            font-size: 10px;
            
            text-align: center;
        }
        p {
            text-align: center;
            font-family: 'Allura', cursive;
            font-family: 'Catamaran', sans-serif;
            font-family: 'DM Serif Display', serif;
            font-family: 'Open Sans', sans-serif;
            font-family: 'Roboto', sans-serif;
            color: var(--gray-);
            margin-top: 0.5rem;
            line-height: 1.62;
        }
        
        

        &:hover strong {
            color: #7A6964,
        }
            }
        

    }
}


.buttonNavigate {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    div {
        display: flex;
        flex-direction: row;

    }

    button {
        margin: 0 5px;
        border: 0;
        background-color: var(--brown-);
        color: var(--white-);
        display: flex;
        padding: 0.5rem;
        border-radius: 5px;

        svg {
            padding: 0 3px;
        }
    }

}
