.IconSobremim{

   
    
   
    color: #ee65c054;
    background-color:white;
    font-size: 40px;
    border-radius: 50%;
}

.iconEbook{

    color: #ee65c054;
    background-color:white;
    font-size: 40px;
    border-radius: 50%;
}

.iconDicas{
    color: #ee65c054;
    background-color:white;
    font-size: 40px;
    border-radius: 50%;
}


