@import url('https://fonts.googleapis.com/css2?family=Allura&family=Catamaran:wght@300&family=DM+Serif+Display&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Allura&family=Catamaran:wght@300&family=DM+Serif+Display&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:wght@400;700&family=Ubuntu:ital@1&display=swap');




.container{
    display: block;
}

.sobremim{
  background-image: linear-gradient(to right,#E3B198, #FBD7CE, #fff, );
}
.containerHeader{ 
    min-height: calc(100vh - 6rem);
    margin: 0 auto;
    max-width: 1120px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    img{
        max-width: 490px;
        border-radius: 3%;
        box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.212);
        
       
        
        
    };

    
}

.ctaText{ text-align: justify;
     max-width: 600px;

     
   
h1{font-family: 'Allura', cursive;
  font-family: 'Catamaran', sans-serif;
  font-family: 'DM Serif Display', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif; 
  color: var(--gray-);
  text-align: center;

  padding-top: 3rem;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 2rem;
   
}

h2{padding-bottom: 2rem;
  padding-top: 2rem;
  text-indent: 2.5rem;
  font-family: 'Allura', cursive;
  font-family: 'Catamaran', sans-serif;
  font-family: 'DM Serif Display', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  color: var(--gray-)
}

p{margin: 1.2yrem;
  font-size: 1.2rem;
  line-height:2.25rem ;
    color: var(--gray-200);
    white-space: pre-wrap;
   overflow-wrap: break-word;
   font-family: 'Allura', cursive;
   font-family: 'Catamaran', sans-serif;
   font-family: 'DM Serif Display', serif;
   font-family: 'Open Sans', sans-serif;
   font-family: 'Roboto', sans-serif;
   font-family: 'Ubuntu', sans-serif;
   word-spacing: normal;
   text-justify: inter-word;
   max-width:550px; 

}

a svg {
    margin-top: -25px;
    
}
svg{
    color: var(--gray-);
    cursor: pointer;
    margin-left: 15px;
    transition: 0.3s;
    
    
}
svg:active {
  cursor: progress;
}
svg:hover{
    color: blue;
}

}

@media screen and (min-width: 1000px) {
  .ctaText {
      text-align: justify;
      
    margin-right: 6rem; /* altere o valor conforme necessário */
  }
}


@media (max-width: 1110px){
    .containerHeader{flex-direction: column-reverse; 
      
      align-items: center;
      
  
      img{
        max-width: 400px;
       margin-top: 2rem;
        
      }
     
    }


    @media (max-width: 630px){
.ctaText{
        max-width: 450px;
      h1{
        font-size: 2.5rem;
       

      }
      p{padding: 0 1rem;
        font-size: 1.2rem;
    line-height:2.25rem ;
    color: var(--gray-);
        text-align: justify;
        word-spacing: normal;
   text-justify: inter-word;
  
  
      }
      .icones { 
        text-align: center; 
        padding-top: 1rem;
      }
      a {
        display: inline-block;
        margin: 0 auto;
        text-align: center;
      }
    }
     
     
    }
  
   
  }